body {
	background: #f5d9d5;
	font-family: "Nunito", sans-serif;
}

.blurb h2 {
	color: #EA1C2C;
	font-weight: 100;
	font-size: 2.5rem;
}

.blurb p {
	color: #f498b8;
	font-weight: 100;
	font-size: 1.125rem;
	line-height: 2;
}

.content {
	margin-top: 100px;
	margin-bottom: 100px;
}

#mainNavbar {
	font-size: 1.5rem;
	font-weight: 100;
}

#mainNavbar .navlink{
	color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand{
	color: #EA1C2C;
	font-size: 1.5rem;
}

#headingGroup span {
	color: #EA1C2C;
}

#headingGroup h1 {
	font-weight: 100;
	font-size: 4rem;
}

.navbar.scrolled {
	background: rgb(222,192,222);
	transition: background 500ms;
}

@media (max-width: 1200px) {
	#headingGroup h1 {
	font-weight: 100;
	font-size: 3rem;
    } 
    .blurb h2 {
    	font-size: 2rem;
    }
}

/* CSS Animation 1 */
#headingGroup h1 {
	position: relative;
	animation-duration: 5s;
    animation-fill-mode: both;
    animation-iteration-count:infinite;
    animation-name: even-flash;
}

#headingGroup h1:nth-child(odd) {
	animation-name: odd-flash;
}

@keyframes even-flash {
	0%, 100% {
		opacity: 0.5;
		color: #f498b8;
	}
	50% {
		opacity: 0.5;
		color: #ffffff;
	}
}

@keyframes odd-flash {
	50% {
		opacity: 0.5;
		color: #f498b8;
	}
	0%, 100% {
		opacity: 0.5;
		color: #ffffff;
	}
}

/* CSS Animation 2 */
#rotate-anime {
	position: relative;
	animation-name: rotate 5s linear infinite;
	/* Firefox */
	-moz-animation: rotate 5s linear infinite;
	/* WebKit - Chrome and Safari */
	-webkit-animation: rotate 5s linear infinite;
	/* Opera */
	-o-animation: rotate 5s linear infinite;
	/* general syntax */
}

/* Firefox */
@-moz-keyframes rotate {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(359deg); }
 }
 /* WebKit - Chrome and Safari */
 @-webkit-keyframes rotate {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(359deg); }
 } 
 /* Opera */
 @-o-keyframes rotate {
	from { -o-transform: rotate(0deg); }
	to { -o-transform: rotate(359deg); }
 } 

@keyframes rotate {
	from { transform: rotate(0deg); }
	to { transform: rotate(359deg); }
 }

